language: php

sudo: required

services:
  - docker

php:
  - 5.5
  - 5.6
  - 7.0

env:
  global:
    - LIBRABBITMQ_VERSION=v0.5.2 PHP_AMQP_VERSION=v1.4.0
  matrix:
    - DEPENDENCIES=""
    - DEPENDENCIES="" LIBRABBITMQ_VERSION=v0.7.0 PHP_AMQP_VERSION=v1.6.1
    - DEPENDENCIES="--prefer-lowest --prefer-stable"

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - sh provision/install_rabbitmq-c.sh ${LIBRABBITMQ_VERSION}
  #- sh provision/install_php-amqp.sh ${PHP_AMQP_VERSION}
  - echo "extension = amqp.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer self-update
  - composer update --prefer-source $DEPENDENCIES
  - docker-compose up -d

script:
  - ./vendor/bin/phpunit --coverage-clover ./clover.xml
  - ./vendor/bin/phpcs --standard=PSR2 ./src/ ./tests/unit/

after_script:
  - if [ "$TRAVIS_PHP_VERSION" = '7.0' ] ; then wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover ./clover.xml; fi;

addons:
  apt:
    packages:
      - cmake
      - valgrind
