<?php

return [
    'management' => [
        'host' => '127.0.0.1',
        'port' => 15678
    ],
    'connection' => [
        'host' => '127.0.0.1',
        'port' => 5678,
        'username' => 'guest',
        'password' => 'guest',
        'vhost' => 'test'
    ]
];
